# sort below with: sort -d
debug/
debuglog.frogue
debuglog.player
rogomatic/autom4te.cache/
rogomatic/config.guess
rogomatic/config.h
rogomatic/config.h.in
rogomatic/config.log
rogomatic/config.status
rogomatic/config.sub
rogomatic/datesub.c
rogomatic/Makefile
rogomatic/.rogue.scr
rogomatic/src/datesub
rogomatic/src/datesub.c
rogomatic/src/.deps/
rogomatic/src/gene
rogomatic/src/histplot
rogomatic/src/Makefile
rogomatic/src/player
rogomatic/src/rgmplot
rogomatic/src/rogomatic
rogomatic/src/.rogue.scr
rogomatic/src/tags
rogomatic/stamp-h1
rogomatic/tags
.rogue.scr
tags
